.mainContainer {
  text-align: center;
}
.main {
  background-color: #ccc1af;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 3vmin;
  font-weight: 900;
}
.players {
  width: 50%;
  display: flex;
  justify-content: space-between;
  gap: 1vmin;
}
.player {
  font-size: 10vmin;
  width: 30%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 1vmin;
  align-items: center;
  justify-content: center;
}
.lightGreen {
  background-color: #a2d5c6;
}
.darkGreen {
  background-color: #077b8a;
}
.selectedPlayer {
  border: #d72631 solid 5px;
  scale: 1.3;
}

.boardContainer {
  padding: 2vmin;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1vmin;
  background-color: #c2b7a3;
  border-radius: 5px;
}
.boardRow {
  display: flex;
  flex-direction: row;
  gap: 1vmin;
  justify-content: center;
}
.box {
  position: relative;
  background-color: #5c3c92;
  width: 100%;
  border-radius: 5px;
}
.mark {
  position: absolute;
  font-size: 20vmin;
  top: calc(50%);
  left: calc(50%);
  transform: translate(-50%, -52%);
}
.box:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.button {
  font-size: 3vmin;
  background-color: #d72631;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-radius: 1vmin;
  padding: 1vmin;
}
